{{> head }}
{{> navbar }}
<div class="container">
    <div class="row mt-1">
        <div class="col-8">
            <h1 class="text-primary"> Atletico de Madrid | Page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis culpa eius fuga hic nisi, provident quas repellendus, suscipit ut veritatis voluptate voluptatem! Dolor enim molestias non reprehenderit sed voluptatem.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/atm.png" class="img-thumbnail" alt="">
        </div>

    </div>
</div>
{{> footer }}